.header__lang-link {
    display: inline-block;
    list-style-type: none;

    align-self: end;
    font-family: 'Inter';
    font-size: 24px;
    margin-bottom: 6px;
    margin: 0;
    padding: 0;
}

.header__lang-link:last-child {
    margin-left: 18px;
}

@media screen and (max-width: 320px) {

    .header__lang-link {
        font-weight: 400;
        font-size: 18px;
        line-height: 20px;
    }
}