.page {
    margin: 0 auto;
    background-color: #2A2C2F;
    color: #FFFFFF;
    overflow: hidden;
}


@media screen and (max-width: 1024px) {
    .page {
        margin: 0 auto;
    }
}

@media screen and (max-width: 768px) {

    .page {
        margin: 0 auto;
    }
}

@media screen and (max-width: 320px) {

    .page {
        margin: 0 auto;
    }
}