@media screen and (max-width: 320px) {

    .page {
        width: 320px;
        margin: 0 auto;
    }

    .header {
        margin: 0px 16px 0px;
        padding-top: 16px;
    }

    .header__logo {

        width: 142px;
    }

    .header__lang-link {
        font-weight: 400;
        font-size: 18px;
        line-height: 20px;
    }


    .lead {
        margin: 0 auto;
        width: 320px;
        grid-template-columns: 288px;
        grid-template-rows: min-content;
    }

    .lead__title {
        width: 288px;

        margin: 48px 0 0;
        font-size: 40px;
        line-height: 44px;
    }

    .lead__subtitle {
        margin: 16px 16px 40px;
        font-size: 16px;
        line-height: 20px;
    }

    .lead__image {
        margin-left: -16px;
        width: 320px;
    }

    .lead__caption {
        margin: 8px 0 0px;
    }


    .intro {
        margin: 64px 16px;
        /* width: 690px;
        height: 429px; */
    }

    .intro__title {
        font-size: 32px;
        line-height: 35px;
    }

    .intro__text {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 163%;
    }

    .foto-grid {

        margin: 0 16px;
        grid-template-columns: 288px;
        grid-template-rows: repeat(12, 1fr);
        grid-auto-rows: 1fr;
        gap: 12px;
    }

    .foto__item {
        width: 288px;
        height: 216px;
    }

    .places {
        width: auto;
    }

    .place {
        width: 288px;
        display: block;
    }

    .place__title {
        margin-top: 50px;
        width: 288px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 900;
        font-size: 32px;
        line-height: 35px;
    }




    .place__website {
        margin-top: 12px;

    }

    .place__url-heading {
        width: 288px;
        margin-top: 32px;
    }

    .place__link {
        color: #FFFFFF;
        width: 288px;
    }

    .place__image {
        display: block;
        margin: 32px -24px;
        width: 320px;
        height: 320px;
    }

    .place__paragraph {
        width: 288px;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 163%;


    }

    .cover {
        width: 320px;
        height: 200px;
    }


    .cover__title {
        margin: 33px 16px 97px;
        width: 288px;
        font-weight: 900;
        font-size: 32px;
        line-height: 35px;

    }

    .cover__subtitle {
        width: 288px;
        height: 48px;
        margin: 119px 16px 33px;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
    }


    .cover:hover .cover__overlay {
        width: 320px;
        height: 200px;
    }

    .cover__background {
        width: 320px;
        height: 200px;
    }

    .footer {
        margin: 0 16px 0;
        display: block
    }

    .footer__link {
        margin-bottom: 32px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 24px;
    }

    .footer__link:last-child {
        margin-bottom: 48px;
    }

    .footer__copyright {
        padding: 0;
        font-size: 14px;
        line-height: 14px;
    }


}