.lead {
    display: grid;
    justify-content: space-around;
}

@media screen and (max-width: 320px) {

    .lead {
        margin: 0 auto;
        width: 320px;
        grid-template-columns: 288px;
        grid-template-rows: min-content;
    }
}