.cover__subtitle {
    position: relative;
    max-width: 360px;
    margin: 0;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    z-index: 3;
}


@media screen and (max-width: 768px) {

    .cover__subtitle {
        font-size: 1rem;
        width: 84%;
        line-height: 1.2;
    }
}

@media screen and (max-width: 320px) {

    .cover__subtitle {
        font-family: 'Inter';
        font-style: normal;
        font-size: 14px;
        line-height: 16px;
        /* min-width: 100%; */
    }
}