.cover__subtitle {
    position: relative;
    margin: 0 auto;

    min-width: 360px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;

    color: #FFFFFF;
}