@media screen and (max-width: 768px) {

    .foto-grid__item {
        width: 352px;
        height: 264px;
    }
}

@media screen and (max-width: 320px) {

    .foto__item {
        width: 288px;
        height: 216px;
    }
}