.foto-grid__item {
    object-fit: cover;
    width: 100%;
}

@media screen and (max-width: 320px) {

    .foto-grid__item {
        margin-bottom: 12px;
    }

    .foto-grid__item:last-child {
        margin-bottom: 0;
    }
}