.header {
    display: flex;
    justify-content: space-between;
    padding: 33px 48px 17px;

    margin: 0;


}

@media screen and (max-width: 768px) {
    .header {
        padding: 32px 24px 18px;
    }
}

@media screen and (max-width: 320px) {
    .header {
        padding: 20px 16px 16px;
    }
}