.lead__title {
    margin: auto;
    font-family: Inter;
    font-size: 96px;
    font-weight: 900;
    line-height: 100px;
    letter-spacing: 0em;
    text-align: center;

}

@media screen and (max-width: 320px) {

    .lead__title {
        font-family: Inter;
        font-size: 40px;
        font-weight: 900;
        line-height: 44px;
        letter-spacing: 0em;
        text-align: center;


    }
}