.lead__title {
    margin: auto;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-size: 96px;
    font-weight: 900;
    line-height: 100px;
    /* letter-spacing: 0em; */
    text-align: center;

}

@media screen and (max-width: 320px) {

    .lead__title {
        font-family: Inter;
        font-size: 40px;
        line-height: 44px;



    }
}