.place__paragraph {
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
}

.place__paragraph:nth-child(2) {
    margin-top: 26px;
}

@media screen and (max-width: 768px) {

    .place__paragraph {
        width: 352px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 163%;
    }
}