.place__link {
    margin: 0px 0 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #FFFFFF;
}

.place__link:visited {
    color: #FFFFFF;
}

.place__link:link {
    color: #FFFFFF;
}

@media screen and (max-width: 320px) {

    .place__link {
        color: #FFFFFF;
        width: 288px;
    }
}