.cover__title {
    left: 50%;
    transform: translate(-50%);
    top: 245px;
    width: 560px;
    margin: 0;
    position: absolute;
    z-index: 3;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
}

@media screen and (max-width: 1024px) {

    .cover__title {
        top: 195px;
    }
}

@media screen and (max-width: 768px) {

    .cover__title {
        top: 20%;
        font-size: 1.8rem;
        width: 60%;
        line-height: 1.5rem;
    }
}

@media screen and (max-width: 320px) {

    .cover__title {
        top: 33px;
        font-weight: 900;
        font-size: 32px;
        line-height: 35px;
        width: 288px;
    }
}