.footer {
    margin: 0;
    padding: 89px 48px 23px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
}

@media screen and (max-width: 1024px) {

    .footer {
        padding: 88px 48px 24px;

    }
}

@media screen and (max-width: 768px) {

    .footer {
        margin: 88px 24px 0;
        grid-template-columns: 1fr;
        grid-template-rows: min-content;
        justify-items: start;
    }
}

@media screen and (max-width: 320px) {

    .footer {
        display: flex;
        flex-direction: column;
        padding-top: 64px;
        margin: 0 16px 0;
        align-items: flex-start
    }
}