.footer {
    margin: 0 48px 24px;
    padding-bottom: 24px;
    display: grid;
    grid-template-columns: repeat(5, min-content) 1fr;
    /* justify-items: end; */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
}

@media screen and (max-width: 1024px) {

    .footer {
        margin: 92px 24px 0;
    }
}

@media screen and (max-width: 768px) {

    .footer {
        margin: 88px 24px 0;
        grid-template-columns: 1fr;
        grid-template-rows: min-content;
        justify-items: start;
        padding-top: 64px;
    }
}

@media screen and (max-width: 320px) {

    .footer {
        display: flex;
        flex-direction: column;
        padding-top: 64px;
        margin: 0 16px 0;
        align-items: flex-start
    }
}