.place__website {
    align-self: end;
}

/* @media screen and (max-width: 768px) {
    .place__website {
        flex-wrap: wrap
    }
} */

@media screen and (max-width: 320px) {

    .place__website {
        margin-top: 12px;
    }
}