.intro__title {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    margin: 0;
}

@media screen and (max-width: 768px) {
    .intro__title {
        margin: 0 0 40px;
    }

}

@media screen and (max-width: 568px) {

    .intro__title {
        font-size: 10vw;
        line-height: 35px;
    }
}